// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 20%;
  padding: 15px 0;
}
.item_index{
 display:  inline-block;
}
.good{
  padding:10px 35px;
}
.cooking_name{
  font-size:50px;
}
.recipeTitle{
  padding:10px 130px;
}
.iine{
  padding:5px 130px;
}
.top_page{
  padding:5px 130px;
}